################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/PhantomCopsClient/v16
/PhantomCopsClient/bin/Debug/netcoreapp3.1
